<a href="https://colab.research.google.com/github/gracelin0711/20250218/blob/main/EX03_02_%E5%85%AC%E5%8F%B8%E8%96%AA%E8%B3%87%E6%A6%82%E6%B3%81%E2%85%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
# 載入模組
import pandas as pd

# 宣告建立資料
data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 40, 22, 29, 38, 27, 33, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [50000, 60000, 75000, 80000, 45000, 62000, 72000, 58000, 69000, 71000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing', 'IT', 'HR', 'Finance', 'Marketing', 'IT', 'Finance']
}
df = pd.DataFrame(data)

# 顯示資料
df

    ID     Name  Age          City  Salary Department
0  101    Alice   25      New York   50000         IT
1  102      Bob   30   Los Angeles   60000         HR
2  103  Charlie   35       Chicago   75000    Finance
3  104    David   40       Houston   80000  Marketing
4  105      Eve   22       Phoenix   45000         IT
5  106    Frank   29  Philadelphia   62000         HR
6  107    Grace   38   San Antonio   72000    Finance
7  108    Helen   27     San Diego   58000  Marketing
8  109      Ivy   33        Dallas   69000         IT
9  110     Jack   31      San Jose   71000    Finance

將薪水高於第3四分位數的人員標示為高薪

In [65]:
high_salary = df['Salary'].quantile(0.75)
df['High Salary'] = df['Salary'].apply(lambda x: 'Yes' if x > high_salary else 'No')

print(high_salary)
df

71750.0

    ID     Name  Age          City  Salary Department High Salary
0  101    Alice   25      New York   50000         IT          No
1  102      Bob   30   Los Angeles   60000         HR          No
2  103  Charlie   35       Chicago   75000    Finance         Yes
3  104    David   40       Houston   80000  Marketing         Yes
4  105      Eve   22       Phoenix   45000         IT          No
5  106    Frank   29  Philadelphia   62000         HR          No
6  107    Grace   38   San Antonio   72000    Finance         Yes
7  108    Helen   27     San Diego   58000  Marketing          No
8  109      Ivy   33        Dallas   69000         IT          No
9  110     Jack   31      San Jose   71000    Finance          No

刪除高薪欄位

In [66]:
# 刪除High Salary欄位
df.drop(columns=['High Salary'], inplace=True)
df

    ID     Name  Age          City  Salary Department
0  101    Alice   25      New York   50000         IT
1  102      Bob   30   Los Angeles   60000         HR
2  103  Charlie   35       Chicago   75000    Finance
3  104    David   40       Houston   80000  Marketing
4  105      Eve   22       Phoenix   45000         IT
5  106    Frank   29  Philadelphia   62000         HR
6  107    Grace   38   San Antonio   72000    Finance
7  108    Helen   27     San Diego   58000  Marketing
8  109      Ivy   33        Dallas   69000         IT
9  110     Jack   31      San Jose   71000    Finance

使用 pd.concat() 新增資料

In [67]:
new_data = [
    {'ID': 111, 'Name': 'Kevin', 'Age': 28, 'City': 'Austin', 'Salary': None, 'Department': 'IT'},
    {'ID': 112, 'Name': 'Lily', 'Age': 26, 'City': 'Seattle', 'Salary': 55000, 'Department': 'Marketing'},
    {'ID': 112, 'Name': 'Lily', 'Age': 26, 'City': 'Seattle', 'Salary': 55000, 'Department': 'Marketing'}
]
df = pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)
df

     ID     Name  Age          City   Salary Department
0   101    Alice   25      New York  50000.0         IT
1   102      Bob   30   Los Angeles  60000.0         HR
2   103  Charlie   35       Chicago  75000.0    Finance
3   104    David   40       Houston  80000.0  Marketing
4   105      Eve   22       Phoenix  45000.0         IT
5   106    Frank   29  Philadelphia  62000.0         HR
6   107    Grace   38   San Antonio  72000.0    Finance
7   108    Helen   27     San Diego  58000.0  Marketing
8   109      Ivy   33        Dallas  69000.0         IT
9   110     Jack   31      San Jose  71000.0    Finance
10  111    Kevin   28        Austin      NaN         IT
11  112     Lily   26       Seattle  55000.0  Marketing
12  112     Lily   26       Seattle  55000.0  Marketing

找出空值的資料列，並填充空值（薪水依該部門平均值）

In [69]:
# 計算每一欄有多少個 NaN
df.isnull().sum()

ID            0
Name          0
Age           0
City          0
Salary        1
Department    0
dtype: int64

In [71]:
avg_salary_by_department = df.groupby('Department')['Salary'].mean()
avg_salary_by_department

Department
Finance      72666.666667
HR           61000.000000
IT           54666.666667
Marketing    62000.000000
Name: Salary, dtype: float64

In [76]:
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'Salary']):
        Dep = df.loc[i, 'Department']
        df.loc[i, 'Salary'] = avg_salary_by_department[Dep]
df

     ID     Name  Age          City        Salary Department
0   101    Alice   25      New York  50000.000000         IT
1   102      Bob   30   Los Angeles  60000.000000         HR
2   103  Charlie   35       Chicago  75000.000000    Finance
3   104    David   40       Houston  80000.000000  Marketing
4   105      Eve   22       Phoenix  45000.000000         IT
5   106    Frank   29  Philadelphia  62000.000000         HR
6   107    Grace   38   San Antonio  72000.000000    Finance
7   108    Helen   27     San Diego  58000.000000  Marketing
8   109      Ivy   33        Dallas  69000.000000         IT
9   110     Jack   31      San Jose  71000.000000    Finance
10  111    Kevin   28        Austin  54666.666667         IT
11  112     Lily   26       Seattle  55000.000000  Marketing
12  112     Lily   26       Seattle  55000.000000  Marketing

刪除重複資料

In [77]:
# 移除完全相同的重複資料（只保留最後一筆）
df_cleaned = df.drop_duplicates(keep='last')

df_cleaned

     ID     Name  Age          City        Salary Department
0   101    Alice   25      New York  50000.000000         IT
1   102      Bob   30   Los Angeles  60000.000000         HR
2   103  Charlie   35       Chicago  75000.000000    Finance
3   104    David   40       Houston  80000.000000  Marketing
4   105      Eve   22       Phoenix  45000.000000         IT
5   106    Frank   29  Philadelphia  62000.000000         HR
6   107    Grace   38   San Antonio  72000.000000    Finance
7   108    Helen   27     San Diego  58000.000000  Marketing
8   109      Ivy   33        Dallas  69000.000000         IT
9   110     Jack   31      San Jose  71000.000000    Finance
10  111    Kevin   28        Austin  54666.666667         IT
12  112     Lily   26       Seattle  55000.000000  Marketing

新增欄位 'NewSalary'，如果薪水小於平均值則薪水加 500，否則維持原薪水；新增欄位 'RankSalary' 填入薪水排名。

In [78]:
# 新增「NewSalary」欄位（若薪資高於 平均值 則加 500，否則為 維持原薪水）
df['NewSalary'] = df['Salary'].apply(lambda x: x + 500 if x > df['Salary'].mean() else x)

# 新增「RankSalary」欄位（填入薪水排名）
df['RankSalary'] = df['Salary'].rank(ascending=False)

df

,ID,Name,Age,City,Salary,Department,NewSalary,RankSalary
0,101,Alice,25,New York,50000.000000,IT,50000.000000,12.0
1,102,Bob,30,Los Angeles,60000.000000,HR,60000.000000,7.0
2,103,Charlie,35,Chicago,75000.000000,Finance,75500.000000,2.0
3,104,David,40,Houston,80000.000000,Marketing,80500.000000,1.0
4,105,Eve,22,Phoenix,45000.000000,IT,45000.000000,13.0
5,106,Frank,29,Philadelphia,62000.000000,HR,62000.000000,6.0
6,107,Grace,38,San Antonio,72000.000000,Finance,72500.000000,3.0
7,108,Helen,27,San Diego,58000.000000,Marketing,58000.000000,8.0
8,109,Ivy,33,Dallas,69000.000000,IT,69500.000000,5.0
9,110,Jack,31,San Jose,71000.000000,Finance,71500.000000,4.0
10,111,Kevin,28,Austin,54666.666667,IT,54666.666667,11.0
11,112,Lily,26,Seattle,55000.000000,Marketing,55000.000000,9.5
12,112,Lily,26,Seattle,55000.000000,Marketing,55000.000000,9.5

In [79]:
df[['Salary','NewSalary','RankSalary']] = df[['Salary','NewSalary','RankSalary']].astype(int)
df

     ID     Name  Age          City  Salary Department  NewSalary  RankSalary
0   101    Alice   25      New York   50000         IT      50000          12
1   102      Bob   30   Los Angeles   60000         HR      60000           7
2   103  Charlie   35       Chicago   75000    Finance      75500           2
3   104    David   40       Houston   80000  Marketing      80500           1
4   105      Eve   22       Phoenix   45000         IT      45000          13
5   106    Frank   29  Philadelphia   62000         HR      62000           6
6   107    Grace   38   San Antonio   72000    Finance      72500           3
7   108    Helen   27     San Diego   58000  Marketing      58000           8
8   109      Ivy   33        Dallas   69000         IT      69500           5
9   110     Jack   31      San Jose   71000    Finance      71500           4
10  111    Kevin   28        Austin   54666         IT      54666          11
11  112     Lily   26       Seattle   55000  Marketing      55000           9
12  112     Lily   26       Seattle   55000  Marketing      55000           9